<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anywhere">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/anywhereicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/anywhereicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anywhere"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main.TotalSearchActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyBookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".User.MyPostActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.productBookingActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".Festival.ThisMonthFestivalActivity"
            android:exported="false" />
        <activity
            android:name=".Festival.FestivalActivity"
            android:exported="false"
            android:label="@string/title_activity_festival"
            android:theme="@style/Theme.Anywhere.NoActionBar" />
        <activity
            android:name=".Community.ImgFullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.emailsignupActivity" />
        <activity android:name=".User.emaillogin" />
        <activity android:name=".User.userActivity" />
        <activity android:name=".itemList.ListOfAreaTripActivity" />
        <activity android:name=".itemDetail.AreaTripDetailActivity" />
        <activity android:name=".itemDetail.MapFullscreenActivity" />
        <activity android:name=".Map.MapActivity" />
        <activity android:name=".Community.CommunityActivity" />
        <activity
            android:name=".Community.postWritingActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Community.DetailPostActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>